
*.pyc

Doc/Testing.aux

Doc/Testing.fdb_latexmk

Doc/Testing.log

Doc/Testing.out

Doc/Testing.synctex.gz

Doc/Testing.pdf

Code/google_scraper.db

Code/DHLib/matlab-sqlite3-driver/*

Code/matlab-sqlite3-driver/*

Code/cache/*

Code/ImageSelector/*

Code/TestTool/*

*.jpg

Code/TestTool/*

Code/view.html

Code/TestTool/Link1/chooser.py
