#content, html, body {
    height: 98%;
}
#left {
    float: left;
    width: 50%;
    background: #F5F5F5;
    height: 100%;
    overflow: scroll;
}
#right {
    float: left;
    width: 50%;
    background: #E5E5E5;
    height: 100%;
    overflow: scroll;
}

.zoom {
    fill: transparent;
    cursor: pointer;
}

.y-axis path,
.y-axis line,
.x-axis path,
.x-axis line,
{
    path,
    line {
        stroke: black;
        fill: none;
        stroke-width: 1px;
    }
}

.y-axis g line {
    stroke: grey;
    fill: none;
    stroke-width: 1px;
}

.graph-body .line circle {
    opacity: 0.1;
}

